* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: 0;
    background-color: unset;
}

button:hover {
    cursor: pointer;
}

body {
    background-color: #F9F9F9;
    max-width: 1442px;
    margin: 0 auto;
    font-weight: 400;
    /* display: flex;
    flex-direction: column;
    min-height: 100vh; */
    border-left: 1px solid #F2F2F3;
    border-right: 1px solid #F2F2F3;
}

header section {
    background-image: url(./images/header-bg-1920.svg);
    max-height: 466px;
    background-size: auto;
    background-position: bottom;
    padding-top: 24px;
}

#header-logo {
    margin: 0 auto;
    width: 150px;
    height: 29px;
}

header figure {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    gap: 21px;
    padding-bottom: 63px;
}

header figure figcaption h1:nth-child(1) {
    margin-top: 46px;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 800;
    line-height: 120%;
}

header figure figcaption h1 span {
    color: #FF5C00;
}

header figure figcaption p:nth-child(2) {
    margin-top: 52px;
    color: #FFFFFF;
    font-weight: 400;
}

ul {
    list-style-type: none;
}

header nav {
    margin: 40px 70px 50px;
}

header nav li {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 40px;
    padding: 8px 14px;
    border-radius: 50px;
    background-color: #FFFFFF;
    font-weight: 400;
    line-height: 21.82px;
    cursor: pointer;
    user-select: none;
}

header nav li:hover {
    background-color: #FFAB08;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

aside {
    align-self: flex-start;
    width: 300px;
    padding: 24px 16px;
    background-color: #FFFFFF;
    border-radius: 18px;
}

.cart {
    display: flex;
    align-items: center;
    gap: 129px;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

#cart-count {
    background-color: #F2F2F3;
    font-size: 12px;
    border-radius: 6px;
    padding: 2px 17px;
    text-align: center;
}

main {
    display: flex;
    gap: 24px;
    flex-direction: column;
    margin-left: 75px;
    /* flex-grow: 1; */
}

#type-of-products {
    font-size: 40px;
    margin-left: 330px;
}

section ul {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.main-container {
    display: flex;
    gap: 30px;
}

section ul li {
    padding: 12px;
    border-radius: 18px;
    background-color: #FFFFFF;
}

section ul li img {
    width: 276px;
    height: 220px;
    border-radius: 12px;
    margin-bottom: 16px;
}

section ul li p:nth-child(2) {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;
}

section ul li p:nth-child(3) {
    margin-bottom: 29px;
}

section ul li p:nth-child(4) {
    margin-bottom: 8px;
    color: #B1B1B1;
    font-weight: 600;
}

section ul li button {
    padding: 11px 92px;
    border-radius: 12px;
    background-color: #F2F2F3;
    width: 100%;
}

section ul li button:active {
    background-color: #FFAB08;
    box-shadow: inset 0px 0px 8px #F86310;
}

section ul li button:hover {
    background-color: #FFAB08;
    color: white;
}

footer {
    margin-top: 100px;
    background-color: #FFFFFF;
    padding: 45px 75px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

footer div:nth-child(1) {
    flex: 3;
}

footer div:nth-child(2) {
    flex: 1;
}

footer div:nth-child(3) {
    flex: 1;
}


footer h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}

.zakaz {
    display: flex;
    gap: 4px;
    align-items: center;
}

.socials {
    display: flex;
    gap: 16px;
}

aside ul li img {
    width: 64px;
    height: 52px;
}

aside ul li {
    border-width: 1px 0px;
    border-style: solid;
    border-color: #F2F2F3;
    padding: 16px 0;
    display: flex;
    align-items: center;
    font-size: 12px;
}

aside ul li:nth-child(n+2) {
    margin-top: -1px;
}

aside ul li section {
    padding-left: 6px;
    flex-grow: 1;
}

aside ul li section p:nth-child(2) {
    color: #B1B1B1;
    margin-bottom: 6px;
}

.minus-plus {
    display: flex;
    font-size: 16px;
    background-color: #F2F2F3;
    border-radius: 12px;
    align-items: center;
    /* padding: 9px 0; */
}

.minus-plus :last-child:active {
    box-shadow: 1px 0px 2px gray;
}

.minus-plus :first-child:active {
    box-shadow: -1px 0px 2px gray;
}

.minus-plus :first-child {
    /* padding-right: 17px;
    padding-left: 13px; */
    padding: 9px 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: 16px;
}

.minus-plus :nth-child(2) {
    padding: 9px 4px;
}

.minus-plus :last-child {
    /* padding-left: 17px;
    padding-right: 13px; */
    padding: 9px 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 16px;
}

#checkout {
    padding: 16px 0 24px;
    display: flex;
    justify-content: space-between;
}

#hide-delivery {
    color: #B1B1B1;
    font-size: 10px;
    padding: 5px 0;
}

#free-delivery {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    flex-grow: 1;
}

.delivery {
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.overlay-control {
    width: 684px;
    height: 432px;
    overflow: hidden;
    border-radius: 24px;
    position: relative;
}

.delivery-modal {
    position: relative;
    display: flex;
    height: 100%;
    display: none;
}

.delivery-modal form {
    background: #F9F9F9;
    min-width: 342px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.delivery-modal button {
    margin-top: auto;
}

.delivery-modal form h3 {
    margin: 20px 0 8px 0;
    line-height: 24px;
}

.radio-btns {
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.delivery-modal form input:not([type=radio]) {
    padding: 12px;
    width: 100%;
    border-radius: 12px;
    border: rgba(242, 242, 243, 1);
    font-size: 12px;
    line-height: 15.6px;
}

input[type=radio] {
    accent-color: #0000001A;
    height: 12px;
    width: 12px;
    margin-right: 8px;
    line-height: 16.37px;
}

.delivery-modal>div {
    position: relative;
    background-color: #FFAB08;
    min-width: 342px;
}

.delivery-modal img {
    position: absolute;
    top: 65px;
    left: 19px;
}

.btn-darkorange {
    background-color: #FF7020;
    width: 100%;
    padding: 12px 0;
    border-radius: 12px;
    color: white;
    line-height: 16px;
    font-size: 16px;
}

.btn-darkorange:active {
    box-shadow: inset 0px 0px 10px #FFAB08;
}

#close-overlay {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 24px;
    left: 636px;
}

#close-overlay::before,
#close-overlay::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    background: rgba(177, 177, 177, 1);
    top: 50%;
    left: 50%;

}

#close-overlay:hover::before,
#close-overlay:hover::after {
    background-color: #FF7020;
}

#close-overlay:hover {
    cursor: pointer
}

#close-overlay::before {
    transform: translate(-50%, -50%) rotate(135deg);
}

#close-overlay::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.global-scrollblock {
    position: fixed;
    width: 100%;
    overflow-y: scroll;
}

#delivery-address {
    display: flex;
    gap: 8px;
    flex-direction: column;
    margin-bottom: 24px;
}

#delivery-address {
    display: flex;
    gap: 8px;
    flex-direction: column;
    display: none;
}

label {
    font-size: 12px;
    display: flex;
    align-items: center;
}

#delivery-address div {
    display: flex;
    gap: 8px;
}

.single-product {
    background-color: rgba(255, 255, 255, 1);
    height: 100%;
    padding: 24px 24px 36px 24px;
    display: none;
}

.single-product h2 {
    font-weight: 600;
    line-height: 48px;
    font-size: 40px;
}

.single-product img {
    height: 220px;
    min-width: 276px;
    border-radius: 16px;
}

.single-product figure {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    font-size: 12px;
}

.single-product figure p {
    line-height: 20.8px;
    font-size: 16px;
}

.single-product figure dl {
    line-height: 15.6px;
}

.single-product figure dt {
    margin: 10px 0 4px 0;
}

.single-product-btns {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 16px;
}

.single-product-btns :first-child {
    max-width: 276px;
}

.single-product-btns p {
    font-size: 24px;
    line-height: 31.2px;
    font-weight: 600;
    margin-left: auto;
}

#free-delivery {
    display: none;
}

#cart-products {
    margin-top: 16px;
    transition: all 1s;
}

#cart-empty{
    margin-top: 16px;
}

.wrapper.is-open {
    grid-template-rows: 1fr;
}

.inner {
    overflow: hidden;
}

.wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.4s;
    display: none;
}