* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}


:root {
    --main-padding: 0 75px;
    --line-height-60px: 60px;
    --line-height-48px: 48px;
    --line-height-31px: 31.2px;
    --line-height-24px: 24px;
    --line-height-21px: 21.82px;
    --line-height-20px: 20.8px;
    --line-height-16px: 16.37px;
    --line-height-15px: 15.6px;
    --fs-50: 50px;
    --fs-40: 40px;
    --fs-24: 24px;
    --fs-16: 16px;
    --fs-12: 12px;
}

img,
svg {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: unset;
    color: black;
    border-radius: 50px;
    overflow: hidden;
    background-color: #FFFFFF;
    transition: background-color 0.2s;
    transition: border-color 0.2s;
    border: 2px solid #F9F9F9;
    flex-shrink: 0;
}

a:hover {
    border: 2px solid #FFAB08;
}

a:active {
    color: red;
    text-decoration: underline;
}

button {
    border: 0;
    background-color: unset;
    transition: background-color 0.2s;
    cursor: pointer;
    font-size: var(--fs-16);
    padding: 12px 0;
}

body {
    background-color: #F9F9F9;
    font-weight: 400;
    /* display: flex;
    flex-direction: column;
    min-height: 100vh; */
    font-size: var(--fs-16);
}

header section {
    background-image: url(./images/header-bg-2880.svg);
    max-height: 466px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 24px;
}

#header-logo {
    margin: 0 auto;
    width: 150px;
    height: 29px;
}

#burger-logo {
    background-image: url(./images/burger-large.svg);
    width: 326px;
    height: 326px;
    background-repeat: no-repeat;
    background-size: auto;
}

header figure {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    gap: 21px;
    padding-bottom: 63px;
}

header figure figcaption h1 {
    margin-top: 46px;
    color: #FFFFFF;
    font-size: var(--fs-50);
    font-weight: 800;
    line-height: var(--line-height-60px)
}

header figure figcaption h1 span {
    color: #FF5C00;
}

header figure figcaption p {
    margin-top: 52px;
    color: #FFFFFF;
    line-height: var(--line-height-21px);
}

ul {
    list-style-type: none;
}

header nav {
    margin: 40px 0 50px 0;
    padding: var(--main-padding);
}

header nav li {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 40px;
    padding: 8px 14px;
    line-height: var(--line-height-21px);
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 24px;
    overflow: hidden;
}

aside {
    align-self: flex-start;
    padding: 24px 16px;
    background-color: #FFFFFF;
    border-radius: 18px;
    margin-top: 72px;
    min-width: 300px;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart h3 {
    font-size: var(--fs-24);
    font-weight: 600;
}

#cart-count {
    background-color: #F2F2F3;
    font-size: var(--fs-12);
    line-height: var(--line-height-16px);
    border-radius: 6px;
    padding: 2px 17px;
}

main {
    display: flex;
    gap: 30px;
    /* flex-grow: 1; */
    position: relative;
    padding: var(--main-padding);
}

main section {
    width: 100%;
}

#type-of-products {
    font-size: var(--fs-40);
    line-height: var(--line-height-48px);
    margin-bottom: 24px;
}

#menudata {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

#menudata li {
    padding: 12px;
    border-radius: 18px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

#menudata li img {
    border-radius: 12px;
    margin-bottom: 16px;
}

#menudata li p:nth-child(2) {
    font-weight: 600;
    font-size: var(--fs-24);
    margin-bottom: 8px;
}

#menudata li p:nth-child(3) {
    margin-bottom: 29px;
}

#menudata li p:nth-child(4) {
    margin-bottom: 8px;
    color: #B1B1B1;
    font-weight: 600;
}

#menudata li button {
    border-radius: 12px;
    background-color: #F2F2F3;
}

#menudata li button:active {
    background-color: #FFAB08;
    box-shadow: inset 0px 0px 8px #F86310;
}

#menudata li button:hover {
    background-color: #FFAB08;
    color: white;
}

footer {
    margin-top: 100px;
    background-color: #FFFFFF;
    padding: var(--main-padding);
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer>div:nth-child(2) {
    display: flex;
    gap: 30px;
}

footer>div:nth-child(1) {
    width: 300px;
}

.foot-img img {
    width: 36px;
    height: 36px;
}

.phone {
    display: flex;
    align-items: center;
}


footer h3 {
    font-size: var(--fs-24);
    font-weight: 400;
    margin-bottom: 24px;
}

.zakaz {
    display: flex;
    gap: 4px;
    align-items: center;
}

.socials {
    display: flex;
    gap: 16px;
}

#cart-products li img {
    width: 64px;
    height: 52px;
}

#cart-products li {
    border-width: 1px 0px;
    border-style: solid;
    border-color: #F2F2F3;
    padding: 16px 0;
    display: flex;
    align-items: center;
    font-size: var(--fs-12);
}

#cart-products li:nth-child(n+2) {
    margin-top: -1px;
}

#cart-products li section {
    padding-left: 6px;
}

#cart-products li section p:nth-child(2) {
    color: #B1B1B1;
    margin-bottom: 6px;
}

.minus-plus {
    display: flex;
    font-size: var(--fs-16);
    background-color: #F2F2F3;
    border-radius: 12px;
    align-items: center;
}

.minus-plus :last-child:active {
    box-shadow: 1px 0px 2px gray;
}

.minus-plus :first-child:active {
    box-shadow: -1px 0px 2px gray;
}

.minus-plus :first-child {
    padding: 9px 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.minus-plus :nth-child(2) {
    padding: 9px 4px;
}

.minus-plus :last-child {
    padding: 9px 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#checkout {
    padding: 16px 0 24px;
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-16);
}

#hide-delivery {
    color: #B1B1B1;
    font-size: 10px;
    padding: 5px 0;
}

#free-delivery {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    flex-grow: 1;
}

.delivery {
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.overlay-control {
    width: 684px;
    height: 432px;
    overflow: hidden;
    border-radius: 24px;
    position: relative;
}

.delivery-modal {
    position: relative;
    display: flex;
    height: 100%;
    display: none;
}

.delivery-modal form {
    width: 50%;
    background: #F9F9F9;
    padding: 24px;
}

.form-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.form-wrapper .btn-darkorange {
    margin-top: auto;
}

.delivery-modal form h3 {
    margin: 19px 0 8px 0;
    line-height: var(--line-height-24px);
}

.radio-btns {
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.delivery-modal form input:not([type=radio]) {
    padding: 12px;
    width: 100%;
    border-radius: 12px;
    border: rgba(242, 242, 243, 1);
    font-size: 12px;
    line-height: var(--line-height-15px);
}

input[type=radio] {
    accent-color: #0000001A;
    height: 12px;
    width: 12px;
    margin-right: 8px;
    line-height: 13.64px;
}

.delivery-modal>div {
    position: relative;
    background-color: #FFAB08;
    width: 50%;
}

.delivery-modal img {
    position: absolute;
    top: 65px;
    left: 19px;
}

.btn-darkorange {
    background-color: #FF7020;
    width: 100%;
    border-radius: 12px;
    color: white;
    line-height: var(--line-height-16px);
    font-size: var(--fs-16);
}

.btn-darkorange:active {
    box-shadow: inset 0px 0px 10px #FFAB08;
}

#close-overlay {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 24px;
    left: 93.5%;
}

#close-overlay::before,
#close-overlay::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    background: rgba(177, 177, 177, 1);
    top: 50%;
    left: 50%;
}

#close-overlay:hover::before,
#close-overlay:hover::after {
    background-color: #FF7020;
}

#close-overlay:hover {
    cursor: pointer
}

#close-overlay::before {
    transform: translate(-50%, -50%) rotate(135deg);
}

#close-overlay::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.global-scrollblock {
    position: fixed;
    width: 100%;
    overflow-y: scroll;
}

#delivery-address {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

#delivery-address {
    display: flex;
    gap: 8px;
    flex-direction: column;
    display: none;
}

label {
    font-size: 12px;
    display: flex;
    align-items: center;
}

#delivery-address div {
    display: flex;
    gap: 8px;
}

.single-product {
    background-color: rgba(255, 255, 255, 1);
    height: 100%;
    padding: 24px 24px 36px 24px;
    display: none;
}

.single-product h2 {
    font-weight: 600;
    line-height: 48px;
    font-size: var(--fs-40);
}

.prod-img-wrap {
    width: 276px;
    height: 220px;
    border-radius: 16px;
    overflow: hidden;
}

.single-product figure {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    font-size: var(--fs-12);
}

.single-product figure p {
    line-height: var(--line-height-20px);
    font-size: var(--fs-16);
}

.single-product figure dl {
    line-height: var(--line-height-15px);
}

.single-product figure dt {
    margin: 10px 0 4px 0;
}

.single-product-btns {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 16px;
}

.single-product-btns :first-child {
    max-width: 276px;
}

.single-product-btns p {
    font-size: var(--fs-24);
    line-height: var(--line-height-31px);
    font-weight: 600;
    margin-left: auto;
}

#free-delivery {
    display: none;
}

#cart-products {
    margin-top: 16px;
    transition: all 1s;
}

#cart-empty {
    margin-top: 16px;
}

.wrapper.is-open {
    grid-template-rows: 1fr;
}

.wrapper {
    grid-template-columns: 1fr;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.4s;
    display: none;
}

@media (min-width:769px) {
    #menudata li {
        width: calc(50% - 30px /2);
    }

    :root {
        --main-padding: 0 32px;
    }

}

@media (min-width:1025px) {
    #menudata li {
        width: calc(33.3333% - (30px*2) /3);
    }

    :root {
        --main-padding: 0 75px;
    }
}

@media (min-width:1441px) {
    #menudata li {
        width: calc(25% - (30px*3) /4);
    }

    header nav ul {
        justify-content: center;
    }
}

@media (max-width:769px) {
    header section {
        background-image: url(./images/header-bg-2540.svg);
        max-height: 349px;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: auto;
    }

    header nav {
        margin: 30px 0;
    }

    header nav li {
        padding: 8px;
    }

    header figure figcaption p {
        margin-top: 26px;
    }

    header figure figcaption h1 {
        margin-top: 26px;
    }

    :root {
        --fs-50: 36px;
        --line-height-60px: 43.2px;
        --line-height-21px: 16.37px;
        --fs-16: 12px;
        --main-padding: 0 32px;
        --fs-24: 16px;
        --fs-40: 28px;
    }

    #burger-logo {
        background-image: url(./images/burger-small.svg);
        width: 227px;
        Height: 229px;
    }

    #menudata li {
        width: calc(25% - (20px*3) /4);
        padding: 4px;
    }

    #menudata {
        gap: 20px;
    }

    aside {

        position: absolute;
        margin-top: 0;
        padding: 16px 10px;
    }

    #type-of-products {
        margin-top: 90px;
        margin-bottom: 16px;
    }

    #cart-products li {
        padding: 11px 0;
    }

    button {
        padding: 9px 0;
    }

    footer {
        margin-top: 80px;
        display: block;
        padding-top: 40px;
    }

    footer>div:nth-child(1) {
        max-width: 196px;
        margin-bottom: 36px;
    }

    footer>div:nth-child(2) {
        justify-content: space-between;
    }

    footer h3 {
        margin-bottom: 8px;
    }

    #checkout {
        padding: 13px 0 19px;
    }

    .overlay-control {
        width: 524px;
        height: 341px;
        border-radius: 24px;
    }

    .delivery-modal>div {
        display: none;
    }

    .delivery-modal form {
        width: 100%;
        padding: 0px 16px 29px 16px;
    }

    .form-wrapper {
        max-width: 300px;
    }

    .delivery-modal form h3 {
        margin: 19px 0 8px 0;
        line-height: var(--line-height-24px);
    }

    .delivery-modal form input:not([type=radio]) {
        padding: 8px 12px;
        width: 100%;
        border-radius: 8px;
        border: rgba(242, 242, 243, 1);
        font-size: 10px;
        line-height: 13px;
    }

    input[type=radio] {
        accent-color: #0000001A;
        height: 12px;
        width: 12px;
        margin-right: 8px;
        line-height: 16.37px;
    }

    .radio-btns {
        gap: 8px;
    }

    .prod-img-wrap {
        width: 226px;
        height: 180px;
    }

    .single-product {
        padding: 16px 16px 24px 16px;
    }

    .single-product figure {
        margin-top: 16px;
        gap: 8px;
    }

    .single-product-btns {
        margin-top: 24px;
    }
}

@media (max-width:600px) {
    header section {
        background-image: url(./images/header-bg-600.svg);
        max-height: 459px;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: auto;
    }

    :root {
        --fs-50: 30px;
        --line-height-60px: 36px;
    }

    header figure figcaption p {
        margin-top: 16px;
    }

    header figure figcaption h1 {
        margin-top: 24px;
    }

    header figure {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 19px;
        margin-top: 0px;
    }

    #menudata li {
        width: calc(50% - 20px /2);
    }

    main {
        padding: 0;
    }

    footer>div:nth-child(2) {
        flex-wrap: wrap;
    }

    aside {
        min-width: 200px;
        width: 100%;
    }

    .main-wrapper {
        padding: 0 10px;
    }
}